# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/

# Variables de entorno
.env

# Alembic
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

requirements-local.txt